@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    font-family: Roboto;
    height: 100vh;
    margin: 0; /* Removes the sections being pushed away from page edge resulting in slight white showing like an imaginary border */
    display: flex;
    flex-direction: column;
}

/* Section Start [navbar] */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0 80px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

a:hover {
    color: rgb(199, 199, 33)
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.scnd {
    color: #e5e7eb;
    font-size: 18px;
}

.top,
.navbar {
    background-color: #1f2937;
}

/* Section End:[navbar]/Start:[sect] */

.sect {
    flex: 1 /* to spread out all sections and push footer to bottom */
}

/* Section End:[sect]/Start:[top] */

.top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}

.logo,
.dope,
.signup {
    color: #f9faf8;
}

.dope {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 4px;
    
}

.signupt {
   width: 400px;
   padding: 24px; /* this gave the look we want (spaced sign up from edge but CHECK THIS!!!) */

}

.pholder {
    width: 400px;
    height: 200px;
    padding: 24px; /* check this!!!! */
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
}

button.signup {
    padding: 8px 26px;
    margin-top: 10px;
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    font-weight: bold;
}

/* Section End:[top]/Start:[midt] */

.midt {
    text-align: center;
    margin-bottom: 40px;
}

.randotitle {
   color:#1f2937;
   font-size: 36px;
   font-weight: 800;
   margin-bottom: 40px;
}

.randoh {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.picd {
    max-width: 200px;
    
}

img {
   display: inline-block; /* Woulda been easier to make div, but remember IMG is inline so this was good practice!! */
   width: 100px;
   height: 100px;
   border:#3882f6 solid 2px; 
   border-radius: 8px;
}

/* Section End:[midt]/Start:[midb] */

.midb {
    background-color:#e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.qbox {
    width: 44%;
    height: auto;
    padding: 80px 100px; /* [MOST LIKELY TEMPORARY]! This was only to get the box to fit more "center" like in pic, 
    still will probably need to be reworked to write cleaner code for all! */
}

.quote {
    font-size: 36px;
    color:#1f2937;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 24px;
}

.quotee {
    color: #1f2937;
    font-size: 24px;
    font-weight: 800;
    text-align: end;
}

/* Section End:[midb]/Start:[bottm] */

.bottm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.action {
    background-color: #3882f6;
    width: 50%;
    height: auto;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    padding: 50px 100px;
    margin: 42px 0;
}


.actt {
    color: white;
    font-weight: 800;
    font-size: 24px;
}

button.signuptwo {
    padding: 8px 26px;
    margin-top: 10px;
    background-color: #3882f6;
    border-radius: 8px;
    border:white solid 2px;
    color: white;
    font-weight: bold;
}

/* Section End:[bottm]/Start:[footer] */

.footer {
    background-color: #1f2937;
    text-align: center;
    padding: 24px;
}


