@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    font-family: Roboto;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 26px;
    background-color: #1f2937;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(199, 199, 33)
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.scnd,
a {
    color: #e5e7eb;
    font-size: 18px;
}